<!DOCTYPE html> 
<html>
  <head>
    <title>{{ page.title }}</title>
		<link href="./main.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/other">Other</a></li>
      </ul>
    </nav>
    <div class="container">
    {{ content }}
		</div><!-- /.container -->
    <footer>
      <ul>
        <li><a href="mailto:mail2raymond@gmail.com">Contact me by email!</a></li>
        <li><a href="https://github.com/MooDetective">Check me out in Github!</a></li>
    </footer>
  </body>
  
  
  
</html>
